* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}
dt {
    width: auto;
    grid-column: 1 / 2;
}
dd {
    margin-left: 2em;
    grid-column: 2 / 3;
}
#distinguisher-legend td {
    min-width: 2em;
}
#legend {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
#legend > * {
    margin: 0.8em;
    padding: 1em;
    border: 1px solid #999;
}

h3, th {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
}

#max-time {
    margin-top: 1em;
    display: block;
}

.sideways {
    min-width: 1.5em;
}

.sideways span {
    writing-mode: sideways-lr;
    display: block;
}

.warning {
    background-color: #ffcc00;
}

.run-wrapper {
    width: 33%;
    display: inline-block;
}

.run {
    margin: 0.8em;
    height: auto;
    display: grid;
    grid-template-columns: 90% 10%;
    border: 1px solid #999;
}

.run.async-profiler {
    grid-template-columns: 80% 10% 10%;
}

.run .cpu-usage-metric {
    grid-column: 3 / 4;
}

.run canvas {
    height: 100%;
}
